[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/lightweight-ip"]
	path = external/lightweight-ip
	url = https://github.com/STMicroelectronics/stm32-mw-lwip
